$break-medium:992px;
.description-container{
    // vertically middle
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 600;
    @media screen and (max-width:$break-medium){
        position: relative;
        font-size: 1.5rem;
        margin-top: 1rem;
        text-align: center;
    }
}