$break-medium:992px;
.product-container{
    padding: 0 4rem;
    margin: 2rem 0;
    cursor: pointer;
    @media screen and (max-width:$break-medium){
        padding:1rem;
    }
    &:hover{
        opacity: 0.8;
    }
    .product-image{
        margin-bottom: 2rem;
        img{
            width: 100%;
        }
    }
    .product-info{
        font-weight: 600;
        font-size: 1.2rem;
        &__title{
            margin: 0;
        }
        &__name{
            display: inline-block;
            width: 45%;
        }
        &__brand{
            color: gray;
        }
        &__price{
            color: gray;
        }
    }
}